body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3e3cb9; /* Fundo azul */
    color: white;
    display: grid;

    gap: 20px;
    padding: 20px;
}

.container {
    grid-column: span 2;
    text-align: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: left; /* Centraliza os links */
    align-items: center;
  
    margin: 0;
    position: sticky; /* Fixa no topo da página */
    top: 0;
    z-index: 1000; /* Garante que fique sobre outros elementos */
 
}

.link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 50px; /* Ajusta o tamanho para navbar */
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    margin: 0 10px; /* Espaço entre os links */
    transition: 0.3s;
}

.link:hover {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0);
    transform: scale(1.1);
}
.link.bubble {
    margin-top: 10px;
    position: relative;
    color: white;
    -webkit-text-stroke-width: 0; /* Remove o contorno */
    background-color: black;
    border-radius: 12%;
    transition: 0.5s;
}



.geral {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title h1 {
    font-size: 2rem;
    color: #ffffff; /* Dourado */
    text-align: center;
    grid-column: span 2;
}

.intens h2, .intens h3, .intens h4 {
    margin-top: 20px;
    color: #79e0ff;
}

.intens p {
    margin: 10px 0;
    text-align: justify;
    grid-column: span 2;
}

.intens ul {
    list-style: disc;
    padding-left: 20px;
    grid-column: span 2;
}

.intens ul li {
    margin-bottom: 10px;
}

.intens div img {
    margin: 5px;
    max-width: 100%;
    height: auto;
}
.intens .git img{
    height: 200px;
    
}
a {
    color: #beedff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
