body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3e3cb9; 
    color: white;
    display: grid;
    gap: 20px;
    padding: 20px;
    
}
h3{
    color: rgb(219, 219, 219);
    
}

.box {
    border: 3px white solid;
    height: auto;
    width: auto;
    border-radius: 15px;
    display: flex;
    opacity: 0;
    animation: fade-in 2s forwards; 
    
}

.profile {
    padding: 50px;
    padding-top: 20px;
    width: 600px;
    opacity: 0; 
    animation: fade-in 2s 0.5s forwards; 
}

.icon {
    height: 299px;
    width: 299px;
    border-radius: 50%; 
    border: 3px white solid;
    object-fit: cover; 
    object-position: top;
    overflow: hidden; 
    opacity: 0; 
    animation: fade-in 2s 0.5s forwards; 
    margin-left: 50px;
}

.iconx {
    height: 59px;
    width: 59px;
    border-radius: 100%;
    background-color: #D9D9D9;
    margin-left: 20px;
    opacity: 0; 
    animation: fade-in 2s 0.5s forwards; 
}

.redes {
    margin-left: 20px;
    opacity: 0;
    animation: fade-in 2s 0.5s forwards; 
}


.line {
    margin-top: 50px;
    height: 590px;
    width: 3px;
    background-color: white;
    opacity: 0; 
    animation: fade-in 2s 0.5s forwards; 
}


.about-me{
    margin: 50px;
    opacity: 0; 
    animation: fade-in 2s 0.5s forwards; 
}





/* Animação de neblina */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Movimento leve para cima */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Posição final */
    }
}


/* Estilo geral da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra */
    height: 12px; /* Altura da barra (para rolagem horizontal) */
  }
  
  /* Estilo do "thumb" (parte que desliza) */
  ::-webkit-scrollbar-thumb {
    background-color: #00008b5b; /* Azul escuro */


  }
  
  /* Estilo do fundo da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #3e3cb9; /* Azul claro */

  }
  
  